<h1>Welcome To The Prancing Pony, <%= user.username%></h1>

<div style="display: flex; flex-direction: column">
  <a href="/characters">Your Characters</a>
  <a href="/characters/new">Create a New Character</a>
  <a href="/<%=user.username%>/shop">Visit Eginhard's Emporium</a>
  <a href="/<%=user.username%>/inventory">Take Stock of Your Supplies</a>
  <a href="/<%=user.username%>/dealer"></a>
  <a href="/explore">Explore Middle Earth</a>
  <a href="/<%=user.username%>/wealth">Head to Bodrig's Bank</a>
</div>
