<nav>
  <a href="/profile">Back to the Prancing Pony</a>
  <a href="/characters/new">Create a new character!</a>
  <a href="/profile/shop">Visit Eginhard's Emporium</a>
  <a href="/profile/inventory">Take stock of your supplies!</a>
  <a href="/profile/dealer">Talk to the Dealer</a>
  <a href="/profile/wealth">Head to Bodrig's Bank</a>
  <a href="/profile/explore">Explore Middle-earth!</a>
</nav>
<div>
  <% characters.forEach(element => { %>
  <div>
    <p><%= element.name %></p>
    <a href="/characters/<%= element.id %>/details"
      ><%= element.name %>'s details!</a
    >
    <a href="/characters/<%= element.id %>/update"
      >Change <%= element.name %>'s details!</a
    >
    <a href="/characters/<%= element.id %>/delete"
      >Delete <%= element.name %></a
    >
  </div>
  <% }) %>
</div>
