<nav>
  <a href="/characters">Characters page</a>
</nav>

<div>
  <div><img src="<%=character.image %>"" alt="characterImage"></div>
  <h2><%= character.name %>'s details:</h2>
  <p>
    <%= character.gender %> <%= character.species %> <%= character.occupation %>
  </p>
  <p>Allied with <%= character.allegiance %></p>
  <p>Money: <%= character.money %> Castar</p>
  <p>Prefered weapon: <%= character.weapons %></p>
</div>
