<div>
  <h2><%= character.name %>'s details:</h2>
  <p>
    <%= character.gender %> <%= character.occupation %> <%= character.species %>
  </p>
  <p>Allied with <%= character.allegiance %></p>
</div>
