<nav>
<<<<<<< HEAD
  <a href="/characters">Characters Page</a>
=======
  <a href="/profile">Back to the Prancing Pony</a>
  <a href="/characters">Your characters!</a>
  <a href="/characters/new">Create a new character!</a>
  <a href="/profile/shop">Visit Eginhard's Emporium</a>
  <a href="/profile/inventory">Take stock of your supplies!</a>
  <a href="/profile/dealer">Talk to the Dealer</a>
  <a href="/profile/wealth">Head to Bodrig's Bank</a>
  <a href="/profile/explore">Explore Middle-earth!</a>
>>>>>>> master
</nav>

<div>
  <div><img src="<%=character.image %>" alt="characterImage" /></div>
  <h2><%= character.name %>'s Details:</h2>
  <p>
    <%= character.gender %> <%= character.species %> <%= character.occupation %>
  </p>
  <p>Allied with: <%= character.allegiance %></p>
  <p>Prefered weapon: <%= character.weapons %></p>
</div>

<a href="/characters/<%= character.id %>/update">Change Your Character</a>
