<nav>
  <a href="/profile">Back to the Prancing Pony</a>
  <a href="/characters">Your characters!</a>
  <a href="/characters/new">Create a new character!</a>
  <a href="/profile/inventory">Take stock of your supplies!</a>
  <a href="/profile/dealer">Talk to the Dealer</a>
  <a href="/profile/wealth">Head to Bodrig's Bank</a>
  <a href="/profile/explore">Explore Middle-earth!</a>
</nav>

<h1>WELCOME TO EGINHARD'S EMPORIUM</h1>

<p>
  Welcome, weary traveller. Please, take a look around my little emporium. If
  you need me, I will be in the back...
</p>

<% if (typeof errorMessage !== 'undefined') { %>
<p style="font-weight: bold"><%= errorMessage %></p>
<% } %>

<div>
  <% shopItems.forEach((item) => { %>
  <div>
    <p><%= item.name %></p>
    <p><%= item.price %> Castar</p>
    <p><img src="<%= item.image %>" /></p>
    <form method="POST" action="/profile/shop/<%=item._id%>">
      <button type="submit">Purchase</button>
    </form>
  </div>
  <% }) %>
</div>
